{% extends 'base.html'%}
{% block content %}


<div class="card bg-light mb-2" align="centre" style="width: 24em;margin:0 auto;">
  <div class="card-header" align="center">Log in!!</div>
    <div class="card text-left">
<form method="POST">
    {{form.hidden_tag()}}
    <br>
    {{form.email.label(class="form-group ")}} {{form.email(class=" .col -7")}}
    <br>
    {{form.password.label(class="form-group ")}}{{form.password(class=" .col -7")}}
    <br>
    <div align="center">
    {{form.submit(class="btn btn-success")}}
        </div>
</form>
    </div>
</div>


{% endblock %}
